/*

@import "tailwindcss";

*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: gainsboro;
    padding: 3px;
    margin: 5px;
    border: 1px solid gray;
}
button:hover{
    background-color: whitesmoke;
}
button:active{
    background-color: rgb(175, 175, 175);
}

a{
    text-decoration: underline;
}